@model IEnumerable<rmApp.Models.PENGGUNA>

@{
    ViewBag.Title = "Kelola Data Pengguna";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" type="text/css" href="~/Content/Theme/css/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="~/Content/Theme/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="~/Content/Theme/buttons.dataTables.min.css">
<script type="text/javascript" src="~/Scripts/jquery-1.12.4.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $.getJSON("http://localhost:65067/api/myPengguna", function (json) {
            console.log(json);
            var myData = [];

            $.each(json, function (index, row) {
                myData[index] = [
                    row.NAMA,
                    row.TELEPON,
                    row.STATUS,
                    row.ID_PENGGUNA
                ]
            });
            $('#myTable').DataTable({
                data: myData,
                "columnDefs": [
                    {
                        "render": function (data, type, row) {
                            if (row[2] == true) {
                                return "Active";
                            } else {
                                return "Non-Active";
                            }
                        },
                        "targets": 2
                    },
                    {
                        "render": function (data, type, row) {
                            if (row[2] == true) {
                                return '<botton class="btn btn-view" id="' + row[3] + '"><i class="fa fa-search-plus"></i></botton><botton class="btn btn-edit" disabled="disabled"  id="' + row[3] + '" title="Klik Untuk Mengaktifkan Akun"><i class="fa fa-user-plus"></i></botton><botton class="btn btn-delete" id="' + row[3] + '" title="Klik Untuk Non-aktifkan Akun"><i class="fa fa-user-times"></i></botton>';
                            } else {
                                return '<botton class="btn btn-view" id="' + row[3] + '"><i class="fa fa-search-plus"></i></botton><botton class="btn btn-edit" id="' + row[3] + '" title="Klik Untuk Mengaktifkan Akun"><i class="fa fa-user-plus"></i></botton><botton class="btn btn-delete" disabled="disabled" id="' + row[3] + '" title="Klik Untuk Non-aktifkan Akun"><i class="fa fa-user-times"></i></botton>';
                            }

                        },
                        "targets": 3
                    }
                ]
            });
        });
    });
</script>
<br />


<table class="table table-bordered table-striped" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NAMA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TELEPON)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.STATUS)
            </th>
            <th>Aksi</th>
        </tr>
    </thead>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        $(document).on("click", ".btn-view", function () {
            var id = $(this).attr("id");
            window.location.href = "@Url.Content("KelolaPengguna/Details/")" + id;
        });
        $(document).on("click", ".btn-edit", function () {
            var id = $(this).attr("id");
            if (confirm("Apakah Anda Yakin untuk Mengaktifkan Status Pengguna?")) {
                window.location.href = "@Url.Content("KelolaPengguna/Aktif/")" + id;
            }
            return
        });
        $(document).on("click", ".btn-delete", function () {
            var id = $(this).attr("id");
            if (confirm("Apakah Anda Yakin untuk Non-Aktifkan Status Pengguna?")) {
                window.location.href = "@Url.Content("KelolaPengguna/Delete/")" + id;
            }
            return
        });
    });

</script>