@model rmApp.Models.PENGGUNA

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PENGGUNA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID_LOGIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_LOGIN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NAMA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAMA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TELEPON)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TELEPON)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATUS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KTP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KTP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BIOGRAFI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BIOGRAFI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FOTO_PROFILE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FOTO_PROFILE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VERIFIKASI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VERIFIKASI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UPDATE_BY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UPDATE_BY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UPDATE_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UPDATE_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATE_BY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATE_BY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATE_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATE_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KETERANGAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KETERANGAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PENCAIRANDANA.NAMA_KEGIATAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PENCAIRANDANA.NAMA_KEGIATAN)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
